html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

.navbar-default {
  position: relative;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 0;
  height: 701px;
  border: none;
}
.navbar-default .container {
  max-width: 1250px;
  margin: 40px auto;
  background-color: #ffffff;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  max-height: 115px;
}
.navbar-default .container .navbar-header .region-navigation .block-block-content:nth-child(1) {
  height: 115px;
  width: 240px;
  margin-right: 30px;
  background-color: #373645;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}
.navbar-default .container .navbar-header .region-navigation .block-block-content:nth-child(1) h3 {
  font-size: 32px;
  line-height: 34px;
  font-weight: 500;
  letter-spacing: normal;
  color: #6e9bca;
  margin-bottom: 10px;
}
.navbar-default .container .navbar-header .region-navigation .block-block-content:nth-child(1) p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: normal;
  color: #cac9cd;
}
.navbar-default .container .navbar-header .region-navigation .block-block-content:nth-child(2) {
  position: absolute;
  max-width: 390px;
  margin-top: 103px;
  margin-bottom: 264px;
  margin-left: 5%;
}
.navbar-default .container .navbar-header .region-navigation .block-block-content:nth-child(2) h2 {
  font-size: 66px;
  line-height: 66px;
  font-weight: 300;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
}
.navbar-default .container .navbar-header .region-navigation .block-block-content:nth-child(2) h3 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: normal;
  color: #373645;
  text-transform: uppercase;
}
.navbar-default .container .navbar-header .region-navigation .block-block-content:nth-child(2) p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: normal;
  color: #6f9ccb;
  text-transform: uppercase;
}
.navbar-default .container .navbar-collapse .region-navigation-collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 115px;
}
.navbar-default .container .navbar-collapse .region-navigation-collapsible nav .navbar-nav {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
}
.navbar-default .container .navbar-collapse .region-navigation-collapsible nav .navbar-nav .first {
  background-image: url("../images/Homepage-menu.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.navbar-default .container .navbar-collapse .region-navigation-collapsible nav .navbar-nav .first a {
  font-size: 0;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #ffffff;
}
.navbar-default .container .navbar-collapse .region-navigation-collapsible nav .navbar-nav .is-active {
  box-shadow: inset 0 -7px 0 0 #6e9bca;
  background-color: transparent;
}
.navbar-default .container .navbar-collapse .region-navigation-collapsible nav .navbar-nav > li > a {
  display: flex;
  flex-flow: nowrap;
  padding: 48px 15px;
  color: #000000;
  target-new: window;
}
.navbar-default .container .navbar-collapse .region-navigation-collapsible nav .navbar-nav > li > a :focus {
  background-color: #ffffff;
}
.navbar-default .container .navbar-collapse .region-navigation-collapsible section {
  display: flex;
  min-width: 100px;
  margin-top: -5px;
  margin-right: -20px;
}
.navbar-default .container .navbar-collapse .region-navigation-collapsible section img {
  width: 25px;
  height: 25px;
}
.navbar-default .container .navbar-collapse .region-navigation-collapsible section a + a {
  margin-left: 11px;
}
.navbar-default .container .navbar-collapse .region-navigation-collapsible .block-search-form-block {
  background: #ffffff;
  margin-top: -12px;
  margin-right: 10px;
  margin-left: 10px;
}
.navbar-default .container .navbar-collapse .region-navigation-collapsible .block-search-form-block .form-group {
  margin-bottom: 0;
}
.navbar-default .container .navbar-collapse .region-navigation-collapsible .block-search-form-block .form-search {
  border-color: #cccccc;
  border-radius: 1px;
}
.navbar-default .container .navbar-collapse .region-navigation-collapsible .block-search-form-block .form-search::placeholder {
  opacity: 0;
}
.navbar-default .container .navbar-collapse .region-navigation-collapsible .block-search-form-block .btn-primary {
  color: #cccccc;
  background-color: #ffffff;
  border-color: #cccccc;
  border-radius: 1px;
}

.main-container .row .region-content .search-form, .main-container .row .region-content ol, .main-container .row .region-content h3 {
  max-width: 1250px;
  margin: 0 auto;
}
.main-container .row .region-content .search-form .form-group .form-type-search .input-group, .main-container .row .region-content ol .form-group .form-type-search .input-group, .main-container .row .region-content h3 .form-group .form-type-search .input-group {
  margin-top: 30px;
  display: flex;
}
.main-container .row .region-content .search-form .form-group .form-type-search .input-group .form-search, .main-container .row .region-content ol .form-group .form-type-search .input-group .form-search, .main-container .row .region-content h3 .form-group .form-type-search .input-group .form-search {
  max-width: 50%;
}

/*# sourceMappingURL=header.css.map */
