@mixin fontz($fs,$lh,$fw,$ls,$c){
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  letter-spacing: $ls;
  color: $c;
}

@mixin scale($iw,$ih){
  width: $iw;
  height: $ih;
}

@mixin bgcolour{
  background-color: #ffffff;
}
