@import "mixins";
@import "variables";
@import "reset";
@media (max-width: 1220px) {
  .main-container{
    .region-content{
      .views-element-container{
        .view-news{
          .view-content{
            .views-row{
              .news{
                .content{
                  .layout--twocol-section--25-75{
                    &:nth-child(1){
                      .layout__region--second{
                        padding-left: 15px;
                      }
                    }
                    &:nth-child(2){
                      .layout__region--second{
                        padding-left: 15px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1130px) {
  .main-container{
    .region-content{
      .views-element-container{
        .view-news{
          .view-content{
            display: block;
            .views-row{
              &:nth-child(1){
                margin-right: 0;
              }
              &:nth-child(2){
                margin-left: 0;
                margin-top: 15px;
              }
              .news{
                .content{
                  .layout--twocol-section--25-75{
                    &:nth-child(1){
                      .layout__region--second{
                        padding-left: 20px;
                      }
                    }
                    &:nth-child(2){
                      .layout__region--second{
                        padding-left: 20px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main-container{
    .region-content{
      .views-element-container{
        .view-news{
          .view-filters{
            .views-exposed-form{
              .form-inline{
                display: flex;
                .form-type-textfield{
                  width: 50%;
                }
                .form-actions{
                  margin-left: 0;
                  margin-bottom: 15px;
                  .form-submit{}
                }
              }
            }
          }
          .view-content{
            display: block;
          }
        }
      }
    }
  }
}

@media (max-width: 615px) {
  .main-container{
    .region-content{
      .views-element-container{
        .view-news{
          .view-filters{
            .views-exposed-form{
              .form-inline{
                display: flex;
                .form-type-textfield{
                  width: 50%;
                }
                .form-actions{
                  margin-left: 0;
                  margin-bottom: 15px;
                }
              }
            }
          }
          .view-content{
            display: block;
            .item-list{
              .views-field-title{
                a{
                }
              }
            }
            .views-row{
              .news{
                .content{
                  padding-right: 10px;
                  padding-top: 10px;
                  padding-bottom: 20px;
                  .layout--twocol-section--25-75{
                    .layout__region--first{
                      display: flex;
                      flex-direction: column;
                      justify-content: space-evenly;
                      .block-field-blocknodenewscreated{
                        &:nth-child(1){
                          span{
                            @include fontz(16px,16px,400,normal,#373645);
                          }
                        }
                      }
                      .block-field-blocknodenewscreated{
                        &:nth-child(2){
                          span{
                            @include fontz(32px,32px,600,normal,#6e9bca);
                          }
                        }
                      }
                      .block-field-blocknodenewscreated{
                        &:nth-child(3){
                          span{
                            @include fontz(12px,12px,400,normal,#cccccc);
                          }
                        }
                      }
                    }
                    &:nth-child(1){
                      .layout__region--second{
                        flex-flow: wrap;
                        justify-content: space-between;
                        padding-left: 10px;
                        .block-layout-builder{
                          &:nth-child(1){
                            margin-bottom: 10px;
                            float: left;
                          }
                        }
                      }
                    }
                    &:nth-child(2){
                      .layout__region--second{
                        padding-left: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .main-container{
    .region-content{
      .views-element-container{
        .view-news{
          .view-content{
            .views-row{
              .news{
                .content{
                  .layout--twocol-section--25-75{
                    &:nth-child(1){
                      .layout__region--second{
                        display: flex;
                        flex-direction: column;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
