@import "mixins";
@import "variables";
@import "reset";
@media (max-width: 1200px) {
  .main-container{
    .region-content{
      .views-element-container{
        .form-group{
          .view-ourteam{
            .view-content{
              flex-flow: wrap;
              .views-row{
                width: 50%;
                &:nth-child(3){
                  margin-top: 60px;
                }
                &:nth-child(4){
                  margin-top: 60px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .main-container{
    .region-content{
      .views-element-container{
        .form-group{
          .view-ourteam{
            .view-content{
              flex-flow: column;
              align-items: center;
              .views-row{
                width: 75%;
                &:nth-child(2){
                  margin-top: 60px;
                }
              }
            }
          }
        }
      }
    }
  }
  .main-container{
    .region-content{
      .ourteam{
        .content{
          .layout--twocol-section--50-50{
            .layout__region--first{
              .field--name-field-images{
                .field--item{
                  img{
                    margin-bottom: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .layout--twocol-section.layout--twocol-section--50-50 > .layout__region--first, .layout--twocol-section.layout--twocol-section--50-50 > .layout__region--second {
    flex: 0 1 50%;
    margin: 0;
  }
}


