@import "mixins";
@import "variables";
@import "reset";
.main-container{
  .region-content{
    .contact{
      max-width: 1250px;
      margin: 0 auto;
      footer{
        display: none;
      }
      .content{
        margin-bottom: 60px;
        .layout--onecol{
          margin-bottom: 60px;
          .block-field-blocknodecontacttitle{
            margin-top: 75px;
            @include fontz(20px,22px,600,normal,#373645);
            text-transform: uppercase;
            text-align: center;
            span{
              &:before{
                position: absolute;
                content: '';
                width: 55px;
                height: 4px;
                background: #b7b7b7;
                top: 110px;
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }
        }
        .layout--twocol-section--50-50{
          display: flex;
          justify-content: center;
          .layout__region--first{
            max-width: 462px;
            padding-right: 9px;
            .webform-submission-contact-us-form{
              .form-inline.form-type-tel{
                .form-control{
                  display: block;
                  width: 100%;
                }
              }
              .form-item{
                .form-control{
                  border: 1px solid #a9a9a9;
                  border-radius: 1px;
                  height: 52px;
                  &.form-textarea{
                    height: 197px;
                  }
                  &::placeholder{
                    @include fontz(14px,16px,400,normal,#8a8a8a);
                    text-transform: uppercase;
                  }
                }
                .form-textarea-wrapper{
                  .form-textarea{
                    padding: 15px 10px;
                    resize: none;
                    &::placeholder{
                      @include fontz(14px,16px,400,normal,#8a8a8a);
                      text-transform: uppercase;
                    }
                  }
                }
              }
              .form-actions{
                .webform-button--submit{
                  @include fontz(16px,16px,600,normal,#ffffff);
                  text-transform: uppercase;
                  padding: 20px 35px;
                  background-color: #e03114;
                  border-radius: 2px;
                  border-color: #ad4431;
                }
              }
            }
          }
          .layout__region--second{
            max-width: 462px;
            padding-left: 9px;
            .block-field-blocknodecontactbody{
              .field--type-text-with-summary{
                h3{
                  margin-bottom: 3px;
                  @include fontz(20px,22px,600,normal,#373645);
                  text-transform: uppercase;
                }
                p{
                  @include fontz(16px,24px,400,normal,#373645);
                }
              }
            }
            .block-field-blocknodecontactfield-map{
              margin-top: 31px;
            }
          }
        }
      }
    }
  }
}
