@import "mixins";
@import "variables";
@import "reset";
.main-container{
  .region-content{
    .views-element-container{
      .view-services.no-flex{
        .view-content{
          display: block;
          margin-left: 30px;
          li:not(:first-child){
            margin-top: 10px;
          }
        }
      }
      .view-services{
        margin-bottom: 50px;
        padding-left: 15px;
        padding-right: 15px;
        .view-content{
          max-width: 1250px;
          margin: 0 auto;
          border-top: 1px solid #cccccc;
          transform: translateY(-35px);
          padding-top: 110px;
          display: flex;
          justify-content: space-between;
          .views-row{
            &:nth-child(4){
              .content{
                .field--type-text-with-summary{
                  h3{
                    margin-top: 37px;
                  }
                }
              }
            }
          }
          .teaser{
            text-align: center;
            h2{
              display: none;
            }
            footer{
              .author{
                display: none;
              }
            }
            .content{
              display: flex;
              flex-flow: column;
              align-items: center;
              .field--type-text-with-summary{
                h3{
                  margin-top: 40px;
                  @include fontz(20px,22px,400,normal,#373645);
                  text-transform: uppercase;
                }
                p {
                  margin-top: 19px;
                  @include fontz(14px,16px,400,normal,#d3d3d3);
                  text-transform: uppercase;
                }
              }
              .list-inline{
                margin-top: 31px;
                .node-readmore{
                  a{
                    padding: 10px;
                    max-width: 100px;
                    background-color: #6e9bca;
                    @include fontz(14px,14px,400,normal,#ffffff);
                    text-transform: uppercase;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.main-container{
  .region-content{
    .services{
      &.full{
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 50px;
      }
      max-width: 1250px;
      margin: 0 auto;
      footer{
        display: none;
      }
      .content{
        .block-field-blocknodeservicestitle{
          margin-top: 30px;
          @include fontz(20px,22px,400,normal,#373645);
          text-transform: uppercase;
          text-align: center;
        }
        .block-field-blocknodeservicesfield-images{
          margin-top: 20px;
          img{
            margin: 0 auto;
          }
        }
        .block-field-blocknodeservicesbody{
          max-width: 50%;
          margin: 0 auto;
          @include fontz(14px,16px,400,normal,#d3d3d3);
          text-transform: uppercase;
          text-align: center;
          .field--type-text-with-summary{
            margin-top: 20px;
          }
        }
        .block-field-blocknodeservicesfield-content{
          margin-top: 40px;
          @include fontz(16px,20px,400,normal,#373645);
          .field--label{
            display: none;
          }
        }
      }
    }
  }
}
